/* font-family: 'Poppins', sans-serif; */



/* initial setting for page */
body, html {
    width: 100%;
    height: 100%;
    margin:0;
  }


/* navbar */
#nav-bar {
    background:transparent !important;
}

h1 {
  color:antiquewhite;
  font-family: 'Poppins', sans-serif;
}

/* header styling  */
#header-section {
  margin-bottom: 50px;
  padding: 0;
  height: 700px;
  background-image: url("../images/redcar.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

header #header-img {
  width: 35%;
  height: 300px;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

/*search bar css start here*/
#search {
  width: 80%;
  height: 126px;
  margin-top: 460px;
  border-top-width: 0px;
  border-left-width: 3px;
  padding-left: 40px;
  padding-top: 20px;
  background: white;
  border-style: solid;
  z-index: 10;
  border: #fff;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  
  
}


/* #search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
} */
.wrn-btn{
  margin-top: 25px;
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:25%;
}


/* 
@media (min-width: 992px){
  #search{
      position: relative;
      top: -114px;
      background: rgba(26, 70, 104, 0.51);
  }
} */




/*  introduction-section styling  */
#introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 120px;
  margin-left: 30px;
  text-align: center;
 
}

.icons {
  padding: 15px 15px 15px;
  margin: 60px 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#location, #calendar, #car {
  width: 100px;
  background-color: #FCCF47;
  padding: 15px 15px 15px;
  margin: 15px 15px 15px;
  margin-left: 55px;
}

.cards-introduction {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/* footer section */

#footer-section {
  background-color:darkgrey;
  text-align: center;
}

.contact {
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 2rem;
  cursor: pointer;
}

.btn:hover {
  color: pink;
}

.copy-right {
  font-family: 'Poppins', sans-serif;
  display: block;
  color: black;
  font-size: 1.5rem;
  padding: 50px 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 990px) {
  #introduction-section {
    margin-top: 500px;

  }

  #search{
    display: block;
      background: #9CA3AF;
      height: 400px;
      width: 80%;
      padding-right: 30px;
  }



}

